header
	nav
	
		a(href='/').inactive.noBottomMargin
			img(src='/images/logo-nav.svg')
	
		a(href='/howto/borrow').inactive.display-lg
			| Emprunter
			br
			| pour mon entreprise
	
		a(href='/howto/invest').inactive.display-lg
			| Prêter
			br
			| mon argent
	
		a(href='/search').inactive.display-lg
			| Projets
			br
			| d'entreprise
	
		a(href='/about/manifesto').active.display-lg
			| À propos

header.fixed
	nav
	
		a(href='/').inactive.noBottomMargin
			img(src='/images/logo-nav.svg')
	
		a(href='/howto/borrow').inactive.display-lg
			| Emprunter
			br
			| pour mon entreprise
	
		a(href='/howto/invest').inactive.display-lg
			| Prêter
			br
			| mon argent
	
		a(href='/search').inactive.display-lg
			| Projets
			br
			| d'entreprise
	
		a(href='/about/manifesto').active.display-lg
			| À propos

