header
	nav
		.inactive
			img(src='/images/logo-nav.svg')
		.inactive.display-lg
			a(href='#' style='display: inline-block')
				| Emprunter
				br
				| pour mon entreprise
		.inactive.display-lg
			a(href='#' style='display: inline-block') 
				| Prêter
				br
				| mon argent
		.inactive.display-lg
			a(href='#' style='display: inline-block')
				| Projets
				br
				| d'entreprise
		.active.display-lg
			a(href='#' style='display: inline-block') 
				| À propos
			