header
	nav
		.inactive.noBottomMargin
			img(src='/images/logo-nav.svg')
		.inactive.display-lg
			a(href='/howto/borrow' style='display: inline-block')
				| Emprunter
				br
				| pour mon entreprise
		.inactive.display-lg
			a(href='/howto/invest' style='display: inline-block') 
				| Prêter
				br
				| mon argent
		.inactive.display-lg
			a(href='/search' style='display: inline-block')
				| Projets
				br
				| d'entreprise
		.active.display-lg
			a(href='/about/manifesto' style='display: inline-block') 
				| À propos

header.fixed
	nav
		.inactive.noBottomMargin
			img(src='/images/logo-nav.svg')
		.inactive.display-lg
			a(href='#' style='display: inline-block')
				| Emprunter
				br
				| pour mon entreprise
		.inactive.display-lg
			a(href='#' style='display: inline-block') 
				| Prêter
				br
				| mon argent
		.inactive.display-lg
			a(href='#' style='display: inline-block')
				| Projets
				br
				| d'entreprise
		.active.display-lg
			a(href='#' style='display: inline-block') 
				| À propos
			