doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/responsive.css')
		link(rel='stylesheet', href='/stylesheets/colors.css')

	body
		block content
				.container
					.row
						.column.col-1-1
							h1
								span= title

				.container
					.row
						.column.col-xs-1-1.col-md-1-3.col-lg-2-3
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus consectetur turpis sit amet vulputate. Morbi eget felis euismod, lobortis enim eu, rutrum justo. Nulla eu tortor felis. Nullam facilisis eget nisl non vestibulum. Sed fringilla mauris ac auctor aliquam. Cras non erat eu ante blandit tristique. Morbi sit amet enim fringilla, scelerisque tortor at, commodo odio. Curabitur maximus, nulla vel iaculis volutpat, orci purus faucibus odio, sit amet viverra dui ex non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
						.column.col-xs-1-1.col-md-1-3.col-lg-2-3
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus consectetur turpis sit amet vulputate. Morbi eget felis euismod, lobortis enim eu, rutrum justo. Nulla eu tortor felis. Nullam facilisis eget nisl non vestibulum. Sed fringilla mauris ac auctor aliquam. Cras non erat eu ante blandit tristique. Morbi sit amet enim fringilla, scelerisque tortor at, commodo odio. Curabitur maximus, nulla vel iaculis volutpat, orci purus faucibus odio, sit amet viverra dui ex non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
						.column.col-xs-1-1.col-md-1-3.col-lg-2-3
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus consectetur turpis sit amet vulputate. Morbi eget felis euismod, lobortis enim eu, rutrum justo. Nulla eu tortor felis. Nullam facilisis eget nisl non vestibulum. Sed fringilla mauris ac auctor aliquam. Cras non erat eu ante blandit tristique. Morbi sit amet enim fringilla, scelerisque tortor at, commodo odio. Curabitur maximus, nulla vel iaculis volutpat, orci purus faucibus odio, sit amet viverra dui ex non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

				.container.dark
					.row
						.column.col-1-1
							span.lololo coucou

		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/javascripts/global.js')