doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/grid.css')
		link(rel='stylesheet', href='/stylesheets/test.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/responsive.css')
		link(rel='stylesheet', href='/stylesheets/colors.css')

	body
		block content
				.container
					.row
						.column.col-12-12
							h1
								span= title

				.container
					.row
						.column.col-12-12
							.test-container
								.test-boite
									.test-left
									.test-right
										| lalalal fef fza faz f ef f azeff eazfeaz fzea 
							

		script(src='/javascripts/jquery-2.1.4.min.js')
		script(src='/javascripts/global.js')