@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Bold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/FuturaStd/FuturaStd-Book.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/Futura/Futura.ttc');
  font-weight: 600;
}
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer/Archer-BookItal-Pro.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer/Archer-MediumItal-Pro.otf');
  font-weight: 600;
  font-style: italic;
}
footer {
  height: 25rem;
}
