@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Bold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/FuturaStd/FuturaStd-Book.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/Futura/Futura.ttc');
  font-weight: 600;
}
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer/Archer-BookItal-Pro.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer/Archer-MediumItal-Pro.otf');
  font-weight: 600;
  font-style: italic;
}
header {
  box-shadow: 0rem 0.15rem 0rem rgba(13, 30, 40, 0.15);
  padding: .5rem;
  height: 3rem;
}
@media screen and (max-width: 501px) {
  header {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 501px) {
  header {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 769px) {
  header {
    margin-bottom: 4rem;
  }
}
.dark-bg header {
  background: #03333B;
}
.light-bg header {
  background: #FFFFFF;
}
header.fixed {
  position: fixed;
  display: none;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
}
