nav {
  font-family: "FuturaStd", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: .65rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: .0rem;
}
.dark-bg nav {
  font-weight: 500;
}
.light-bg nav {
  font-weight: 600;
}
nav .active,
nav .inactive {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}
nav .active {
  border-bottom: 0.1rem solid #C88B1E;
}
@media screen and (max-width: 501px) {
  nav.subnav {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 501px) {
  nav.subnav {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 769px) {
  nav.subnav {
    margin-bottom: 3rem;
  }
}
nav.subnav .inactive,
nav.subnav .separator {
  color: #566269;
}
nav.subnav .separator {
  display: inline-block;
}
.dark-bg nav.subnav .inactive,
.dark-bg nav.subnav .separator {
  color: #B1BFC2;
}
.light-bg nav.subnav .inactive,
.light-bg nav.subnav .separator {
  color: #566269;
}
nav a {
  text-decoration: none;
  color: inherit;
}
