@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Bold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/FuturaStd/FuturaStd-Book.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/Futura/Futura.ttc');
  font-weight: 600;
}
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer/Archer-BookItal-Pro.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Archer';
  src: url('../fonts/Archer/Archer-MediumItal-Pro.otf');
  font-weight: 600;
  font-style: italic;
}
* {
  box-sizing: border-box;
}
html {
  background: #C98C1F;
  padding: 10px;
  font-size: 20px;
}
body {
  font-family: 'DinPro', Verdana, Geneva, sans-serif;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: .8rem;
  line-height: 1rem;
  background: #FFFFFF;
  color: #0D1E28;
}
body .alt-bg {
  background: #F4F4F5;
}
.light-bg svg {
  fill: #0D1E28;
}
.dark-bg svg {
  fill: #FCFCFC;
}
.clear {
  clear: both;
}
.dark-bg {
  background: #03333B;
  color: #FCFCFC;
}
.dark-bg .alt-bg {
  background: #0F3C44;
}
.dark-bg > .text-underline {
  border-color: #FCFCFC;
}
.dark-bg > .box {
  background: #03333B;
}
.light-bg {
  background: #FFFFFF;
  color: #0D1E28;
}
.light-bg .alt-bg {
  background: #F4F4F5;
}
.light-bg > .text-underline {
  border-color: #0D1E28;
}
.light-bg > .box {
  background: #FFFFFF;
}
h1,
.h1 {
  font-family: 'FuturaStd', Verdana, Geneva, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .03em;
}
@media screen and (max-width: 501px) {
  h1,
  .h1 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 501px) {
  h1,
  .h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 769px) {
  h1,
  .h1 {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}
h1 .text-underline,
.h1 .text-underline {
  border-bottom-width: .1rem;
  border-bottom-style: solid;
}
@media screen and (max-width: 501px) {
  h1,
  .h1 {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 501px) {
  h1,
  .h1 {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 769px) {
  h1,
  .h1 {
    margin-bottom: 3rem;
  }
}
h2,
.h2 {
  font-family: 'FuturaStd', Verdana, Geneva, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;
}
@media screen and (max-width: 501px) {
  h2,
  .h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 501px) {
  h2,
  .h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 769px) {
  h2,
  .h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 501px) {
  h2,
  .h2 {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 501px) {
  h2,
  .h2 {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 769px) {
  h2,
  .h2 {
    margin-bottom: 2rem;
  }
}
h3,
.h3,
.headline {
  font-family: 'DinPro', Verdana, Geneva, sans-serif;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
@media screen and (max-width: 501px) {
  h3,
  .h3,
  .headline {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 501px) {
  h3,
  .h3,
  .headline {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 501px) {
  h3,
  .h3,
  .headline {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 501px) {
  h3,
  .h3,
  .headline {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 769px) {
  h3,
  .h3,
  .headline {
    margin-bottom: 1rem;
  }
}
h4,
.h4 {
  font-family: 'DinPro', Verdana, Geneva, sans-serif;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
@media screen and (max-width: 501px) {
  h4,
  .h4 {
    font-size: .8rem;
    line-height: 1rem;
  }
}
@media screen and (min-width: 501px) {
  h4,
  .h4 {
    font-size: .9rem;
    line-height: 1rem;
  }
}
@media screen and (max-width: 501px) {
  h4,
  .h4 {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 501px) {
  h4,
  .h4 {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 769px) {
  h4,
  .h4 {
    margin-bottom: 1rem;
  }
}
p,
.p {
  font-family: 'DinPro', Verdana, Geneva, sans-serif;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: .8rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}
p strong,
p.strong,
.p strong,
.p.strong,
strong p,
.strong p,
strong .p {
  font-family: 'DinPro', Verdana, Geneva, sans-serif;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  font-size: .8rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}
.quarter-margin {
  margin-bottom: 0.25rem;
  display: block;
  width: 100%;
  height: 100%;
}
.half-margin {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
}
.single-margin {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  height: 100%;
}
.double-margin {
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  height: 100%;
}
.triple-margin {
  margin-bottom: 3rem;
  display: block;
  width: 100%;
  height: 100%;
}
.quad-margin {
  margin-bottom: 4rem;
  display: block;
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
}
a.link {
  color: #C98C1F;
}
img {
  margin-bottom: 1rem;
  max-width: 100%;
  max-height: 100%;
}
ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 0.5rem;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 0.5rem;
}
ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
}
ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
}
@media screen and (max-width: 501px) {
  ul.fingerList {
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 501px) {
  ul.fingerList {
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 769px) {
  ul.fingerList {
    margin-left: 0.5rem;
  }
}
ul.fingerList li::before {
  content: '☞ ';
}
li {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 501px) {
  .pageLast {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 501px) {
  .pageLast {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .pageLast {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 501px) {
  .h2Last {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 501px) {
  .h2Last {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 769px) {
  .h2Last {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 501px) {
  .h3Last,
  .h4Last,
  .last {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 501px) {
  .h3Last,
  .h4Last,
  .last {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .h3Last,
  .h4Last,
  .last {
    margin-bottom: 2rem;
  }
}
.noBottomMargin {
  margin-bottom: 0rem;
}
blockquote {
  font-family: 'Archer', 'Times New Roman', Times, serif;
  font-weight: 500;
  text-transform: italic;
  text-decoration: none;
  letter-spacing: none;
  font-size: .9rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-left: 2px solid #61BFE8;
}
blockquote .author {
  margin: 0.5rem 0rem;
}
.box {
  border: solid 0.1rem #CFD2D4;
  border-radius: 0.2rem;
  padding: .5rem;
  padding-bottom: 1rem;
  box-shadow: 0rem 0.15rem 0rem rgba(13, 30, 40, 0.15);
}
.dark-bg .box {
  background: #03333B;
}
.light-bg .box {
  background: #FFFFFF;
}
.slide .topBracket {
  display: block;
  width: 100%;
  height: 1px;
  visibility: hidden;
}
.stat {
  width: 100%;
}
.stat p {
  margin: 0;
}
.stat img {
  margin: 0;
}
.stat img.icon {
  display: inline-block;
}
.stat .text {
  display: block;
  float: left;
  width: calc(100% - 3.5rem);
  background: #FF0000;
}
.stat .text p.number {
  font-family: 'DinPro', Verdana, Geneva, sans-serif;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
@media screen and (max-width: 501px) {
  .stat .text p.number {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 501px) {
  .stat .text p.number {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .stat .text p.number {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}
.stat .image {
  display: block;
  float: left;
  width: 3rem;
  margin-right: .5rem;
}
