@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'DinPro';
  src: url('../fonts/DinPro/DINPro-Bold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/FuturaStd/FuturaStd-Book.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'FuturaStd';
  src: url('../fonts/Futura/Futura.ttc');
  font-weight: 600;
}
h1 {
  font-family: 'FuturaStd', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 501px) {
  h1 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 501px) {
  h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 769px) {
  h1 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }
}
h2 {
  font-family: 'FuturaStd', Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 501px) {
  h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 501px) {
  h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 769px) {
  h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
