extends about

block content_2

	.row
		.column.col-12-12
			.double-margin
			.clear

	.row
		.column.col-4-12
			.stat.big
				.image
					//- svg(src='/images/about/LENDOPOLIS_icon_money_lent_60.svg').icon
					//- iframe(src='/images/about/LENDOPOLIS_icon_money_lent_60.svg').icon
					svg.icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 60 60', enable-background='new 0 0 60 60', xml:space='preserve', fill='#00ff00')
						path(d='M4,4H0v56h30v-4h4V0H4V4z M28,58H2V6h2v50h24V58z M6,2h26v52H6V2z')
						path(d='M26,5V4H12v1c0,1.654-1.346,3-3,3H8v40h1c1.654,0,3,1.346,3,3v1h14v-1c0-1.654,1.346-3,3-3h1V8h-1\ C27.346,8,26,6.654,26,5z M28,46.101c-1.956,0.398-3.501,1.943-3.899,3.899H13.899c-0.398-1.956-1.943-3.501-3.899-3.899V9.899\ C11.956,9.501,13.501,7.956,13.899,6h10.201C24.499,7.956,26.044,9.501,28,9.899V46.101z')
						path(d='M19,23c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5S21.76,23,19,23z M19,31c-1.654,0-3-1.346-3-3s1.346-3,3-3\ s3,1.346,3,3S20.654,31,19,31z')
						path(d='M59.176,34.514C59.698,33.451,60,32.262,60,31c0-4.411-3.589-8-8-8s-8,3.589-8,8\ c0,1.262,0.302,2.452,0.824,3.515C44.294,35.602,44,36.792,44,38c0,1.262,0.302,2.452,0.824,3.515C44.294,42.602,44,43.792,44,45\ c0,1.262,0.302,2.452,0.824,3.515C44.294,49.602,44,50.792,44,52c0,4.411,3.589,8,8,8s8-3.589,8-8c0-1.209-0.294-2.397-0.824-3.486\ C59.698,47.451,60,46.262,60,45c0-1.209-0.294-2.397-0.824-3.486C59.698,40.451,60,39.262,60,38\ C60,36.791,59.706,35.603,59.176,34.514z M52,25c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S48.691,25,52,25z M52,39\ c2.285,0,4.344-0.968,5.803-2.509C57.932,36.983,58,37.49,58,38c0,3.309-2.691,6-6,6s-6-2.691-6-6c0-0.51,0.069-1.017,0.198-1.509\ C47.657,38.032,49.716,39,52,39z M58,52c0,3.309-2.691,6-6,6s-6-2.691-6-6c0-0.51,0.069-1.017,0.198-1.509\ C47.657,52.032,49.716,53,52,53c2.285,0,4.344-0.968,5.803-2.509C57.932,50.983,58,51.49,58,52z M58,45c0,3.309-2.691,6-6,6\ s-6-2.691-6-6c0-0.51,0.069-1.017,0.198-1.509C47.657,45.032,49.716,46,52,46c2.285,0,4.344-0.968,5.803-2.509\ C57.932,43.983,58,44.49,58,45z')
				.text
					p.number 2 945 500 €
					p.label financés avec succès sur 3 524 039 € collectés
					p.sublabel depuis le 19 novembre 2014

		.column.col-4-12
			.stat.big
				.image
					//- svg(src='/images/about/LENDOPOLIS_icon_money_lent_60.svg').icon
					iframe(src='/images/about/LENDOPOLIS_icon_money_lent_60.svg').icon
				.text
					p.number 2 945 500 €
					p.label financés avec succès sur 3 524 039 € collectés
					p.sublabel depuis le 19 novembre 2014

		.column.col-4-12
			.stat.big
				.image
					//- svg(src='/images/about/LENDOPOLIS_icon_money_lent_60.svg').icon
					iframe(src='/images/about/LENDOPOLIS_icon_money_lent_60.svg').icon
				.text
					p.number 2 945 500 €
					p.label financés avec succès sur 3 524 039 € collectés
					p.sublabel depuis le 19 novembre 2014

		.column.col-4-12
			.quad-margin
			.stat
				.image
					svg(src='/images/about/LENDOPOLIS_icon_money_lent_60.svg').icon
				.text
					p lol 
					p lol
					p lol
					p lol
					p lol
					p lol
					p lol

	p.pageLast 
