@color-active-light-bg: #0D1E28;
@color-inactive-light-bg: #566269;
@color-blocked-light-bg: #879095;
@color-border-light-bg: #CFD2D4;
@color-alt-background-light-bg: #F4F4F5;
@color-background-light-bg: #FFFFFF;

@color-alert-active-light-bg: #E00213;
@color-alert-inactive-light-bg: #E94E5A;
@color-alert-blocked-light-bg: #F0818A;
@color-alert-border-light-bg: #F9CCD0;
@color-alert-alt-background-light-bg: #FDF3F4;

@color-active-dark-bg: #FCFCFC;
@color-inactive-dark-bg: #B1BFC2;
@color-blocked-dark-bg: #80989C;
@color-border-dark-bg: #355B62;
@color-alt-background-dark-bg: #0F3C44;
@color-background-dark-bg: #03333B;

@color-alert-active-dark-bg: #DE0011;
@color-alert-inactive-dark-bg: #A64032;
@color-alert-blocked-dark-bg: #783D36;
@color-alert-border-dark-bg: #323738;
@color-alert-alt-background-dark-bg: #0E343A;

@color-shadow-tint: rgba(13, 30, 40, .15);

@color-brand-gold: #C88B1E;
@color-brand-dark-blue: #0D1E28;
@color-brand-dark-green: #03333B;
@color-brand-blue: #61BFE8;
@color-brand-green: #7C8338;
@color-brand-beige: #FCF7E4;

@color-brand-try-soft-orange: #F8BD71;
@color-brand-try-passed-red: #C0615B;
@color-brand-try-dark-pink: #A75B79;
@color-brand-try-soft-violet: #A990F3;
@color-brand-try-blue: #70BDE8;
@color-brand-try-lime-green: #5BA483;
@color-brand-try-vivid-red: #ED7053;

@color-social-facebook: #557CBD;
@color-social-twitter: #79CCF0;
@color-social-linkedin: #1485C8;
@color-social-google-plus: #4C4C4C;
