@import '_responsive';

.container {
	margin: 0 auto;
	max-width: @container-max-width;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	padding: 0 @half-margin;
}

.column:first-child {
	margin-left: 0;
}

.column.col-1-12 { width: 8.3333%; }
.column.col-2-12 { width: 16.6666%; }
.column.col-3-12 { width: 25%; }
.column.col-4-12 { width: 33.3333%; }
.column.col-5-12 { width: 41.6666%; }
.column.col-6-12 { width: 50%; }
.column.col-7-12 { width: 58.3333%; }
.column.col-8-12 { width: 66.6667%; }
.column.col-9-12 { width: 75%; }
.column.col-10-12 { width: 83.3333%; }
.column.col-11-12 { width: 91.6666%; }
.column.col-12-12 { width: 100%; }

.column.col-1-24 { width: 4.1666%; }
.column.col-3-24 { width: 12.5%; }
.column.col-5-24 { width: 20.8333%; }
.column.col-7-24 { width: 29.1666%; }
.column.col-9-24 { width: 37.5%; }
.column.col-11-24 { width: 45.8333%; }
.column.col-13-24 { width: 54.1666%; }
.column.col-15-24 { width: 62.5%; }
.column.col-17-24 { width: 70.8333%; }
.column.col-19-24 { width: 79.1666%; }
.column.col-21-24 { width: 87.5%; }
.column.col-23-24 { width: 95.8333%; }

/* XS */
@media screen and (max-width: @bkpt-xs-sm) {
	.column.col-xs-1-12 { width: 8.3333%; }
	.column.col-xs-2-12 { width: 16.6666%; }
	.column.col-xs-3-12 { width: 25%; }
	.column.col-xs-4-12 { width: 33.3333%; }
	.column.col-xs-5-12 { width: 41.6666%; }
	.column.col-xs-6-12 { width: 50%; }
	.column.col-xs-7-12 { width: 58.3333%; }
	.column.col-xs-8-12 { width: 66.6667%; }
	.column.col-xs-9-12 { width: 75%; }
	.column.col-xs-10-12 { width: 83.3333%; }
	.column.col-xs-11-12 { width: 91.6666%; }
	.column.col-xs-12-12 { width: 100%; }

	.column.col-xs-1-24 { width: 4.1666%; }
	.column.col-xs-3-24 { width: 12.5%; }
	.column.col-xs-5-24 { width: 20.8333%; }
	.column.col-xs-7-24 { width: 29.1666%; }
	.column.col-xs-9-24 { width: 37.5%; }
	.column.col-xs-11-24 { width: 45.8333%; }
	.column.col-xs-13-24 { width: 54.1666%; }
	.column.col-xs-15-24 { width: 62.5%; }
	.column.col-xs-17-24 { width: 70.8333%; }
	.column.col-xs-19-24 { width: 79.1666%; }
	.column.col-xs-21-24 { width: 87.5%; }
	.column.col-xs-23-24 { width: 95.8333%; }
	
	.display-lg { display: none !important; }
	.display-md { display: none !important; }
	.display-sm { display: none !important; }
	.display-xs { display: initial !important; }
}

/* SM */
@media screen and (min-width: @bkpt-xs-sm) {
	// body {background: #00ff00; }
	.column.col-sm-1-12 { width: 8.3333%; }
	.column.col-sm-2-12 { width: 16.6666%; }
	.column.col-sm-3-12 { width: 25%; }
	.column.col-sm-4-12 { width: 33.3333%; }
	.column.col-sm-5-12 { width: 41.6666%; }
	.column.col-sm-6-12 { width: 50%; }
	.column.col-sm-7-12 { width: 58.3333%; }
	.column.col-sm-8-12 { width: 66.6667%; }
	.column.col-sm-9-12 { width: 75%; }
	.column.col-sm-10-12 { width: 83.3333%; }
	.column.col-sm-11-12 { width: 91.6666%; }
	.column.col-sm-12-12 { width: 100%; }

	.column.col-sm-1-24 { width: 4.1666%; }
	.column.col-sm-3-24 { width: 12.5%; }
	.column.col-sm-5-24 { width: 20.8333%; }
	.column.col-sm-7-24 { width: 29.1666%; }
	.column.col-sm-9-24 { width: 37.5%; }
	.column.col-sm-11-24 { width: 45.8333%; }
	.column.col-sm-13-24 { width: 54.1666%; }
	.column.col-sm-15-24 { width: 62.5%; }
	.column.col-sm-17-24 { width: 70.8333%; }
	.column.col-sm-19-24 { width: 79.1666%; }
	.column.col-sm-21-24 { width: 87.5%; }
	.column.col-sm-23-24 { width: 95.8333%; }
	
	.display-lg { display: none !important; }
	.display-md { display: none !important; }
	.display-sm { display: initial !important; }
	.display-xs { display: initial !important; }
}

/* MD */
@media screen and (min-width: @bkpt-sm-md) {
	// body {background: #0000ff; }
	.column.col-md-1-12 { width: 8.3333%; }
	.column.col-md-2-12 { width: 16.6666%; }
	.column.col-md-3-12 { width: 25%; }
	.column.col-md-4-12 { width: 33.3333%; }
	.column.col-md-5-12 { width: 41.6666%; }
	.column.col-md-6-12 { width: 50%; }
	.column.col-md-7-12 { width: 58.3333%; }
	.column.col-md-8-12 { width: 66.6667%; }
	.column.col-md-9-12 { width: 75%; }
	.column.col-md-10-12 { width: 83.3333%; }
	.column.col-md-11-12 { width: 91.6666%; }
	.column.col-md-12-12 { width: 100%; }

	.column.col-md-1-24 { width: 4.1666%; }
	.column.col-md-3-24 { width: 12.5%; }
	.column.col-md-5-24 { width: 20.8333%; }
	.column.col-md-7-24 { width: 29.1666%; }
	.column.col-md-9-24 { width: 37.5%; }
	.column.col-md-11-24 { width: 45.8333%; }
	.column.col-md-13-24 { width: 54.1666%; }
	.column.col-md-15-24 { width: 62.5%; }
	.column.col-md-17-24 { width: 70.8333%; }
	.column.col-md-19-24 { width: 79.1666%; }
	.column.col-md-21-24 { width: 87.5%; }
	.column.col-md-23-24 { width: 95.8333%; }
	
	.display-lg { display: none !important; }
	.display-md { display: initial !important; }
	.display-sm { display: initial !important; }
	.display-xs { display: initial !important; }
}

/* LG */
@media screen and (min-width: @bkpt-md-lg) {
	// body {background: #f0f000; }
	.column.col-lg-1-12 { width: 8.3333%; }
	.column.col-lg-2-12 { width: 16.6666%; }
	.column.col-lg-3-12 { width: 25%; }
	.column.col-lg-4-12 { width: 33.3333%; }
	.column.col-lg-5-12 { width: 41.6666%; }
	.column.col-lg-6-12 { width: 50%; }
	.column.col-lg-7-12 { width: 58.3333%; }
	.column.col-lg-8-12 { width: 66.6667%; }
	.column.col-lg-9-12 { width: 75%; }
	.column.col-lg-10-12 { width: 83.3333%; }
	.column.col-lg-11-12 { width: 91.6666%; }
	.column.col-lg-12-12 { width: 100%; }

	.column.col-lg-1-24 { width: 4.1666%; }
	.column.col-lg-3-24 { width: 12.5%; }
	.column.col-lg-5-24 { width: 20.8333%; }
	.column.col-lg-7-24 { width: 29.1666%; }
	.column.col-lg-9-24 { width: 37.5%; }
	.column.col-lg-11-24 { width: 45.8333%; }
	.column.col-lg-13-24 { width: 54.1666%; }
	.column.col-lg-15-24 { width: 62.5%; }
	.column.col-lg-17-24 { width: 70.8333%; }
	.column.col-lg-19-24 { width: 79.1666%; }
	.column.col-lg-21-24 { width: 87.5%; }
	.column.col-lg-23-24 { width: 95.8333%; }
	
	.display-lg { display: initial !important; }
	.display-md { display: initial !important; }
	.display-sm { display: initial !important; }
	.display-xs { display: initial !important; }
}
