@import '_colors';
@import '_responsive';
@import '_fonts';
@import '_styles';

nav {
	font-family: "FuturaStd", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: .65rem;
	line-height: 1rem;
	text-transform: uppercase;
	display: block;

	.light-bg & { font-weight: 600; }
	.dark-bg & { font-weight: 500; }

	a {
		display: block;
		float: left;
		text-decoration: none;
		color: inherit;
		&.active, &.inactive {
			padding-left: @half-margin;
			padding-right: @half-margin;
			vertical-align: middle;	
		}
		
		&.active {
			.light-bg & { color : @color-active-light-bg; }
			.dark-bg & { color : @color-active-dark-bg; }
			border-bottom: .1rem solid @color-brand-gold;
		}
		
		&.inactive {
			// transition: color .1s ease-out;
			.light-bg & {
				color : @color-inactive-light-bg;
				&:hover {
					color: @color-active-light-bg;
				}
			}
			.dark-bg & {
				color : @color-inactive-dark-bg;
				&:hover {
					color: @color-active-dark-bg;
				}
			}

			header & {
				.light-bg & { color : @color-active-light-bg; }
				.dark-bg & { color : @color-active-dark-bg; }
			}
		}
	}

	.separator {
		display: block;
		float: left;
		&::before { content: ' • '; }

		.light-bg & { color : @color-inactive-light-bg; }
		.dark-bg & { color : @color-inactive-dark-bg; }
	}
}

nav.subnav {
	// XS
	@media screen and (max-width: @bkpt-xs-sm) {
		margin-bottom: @double-margin;
	}
	// SM
	@media screen and (min-width: @bkpt-xs-sm) {
		margin-bottom: @double-margin;
	}
	// MD
	@media screen and (min-width: @bkpt-sm-md) {
		margin-bottom: @triple-margin;
	}
}

menu.summary {
	a {
		display: block;
		font-family: DinPro;
		font-weight: 400;
		text-transform: none;
		text-decoration: none;
		font-size: .8rem;
		width: 100%;
		padding: @half-margin;
		// transition: color .1s ease-out;
		// transition: background .1s ease-out;

		.light-bg & {
			&.active {
				background: @color-alt-background-light-bg;
				color: @color-active-light-bg;
			} 
			&.inactive {
				color: @color-inactive-light-bg;
				&:hover {
					color: @color-active-light-bg;
					background: @color-alt-background-light-bg;
				}
			}
		}
		.dark-bg & {
			&.active {
				background: @color-alt-background-dark-bg;
				color: @color-active-dark-bg;
			}
			&.inactive {
				color: @color-inactive-dark-bg;
				&:hover {
					color: @color-active-dark-bg;
					background: @color-alt-background-dark-bg;
				}
			}
		}

	}
	.active {
		border: none;
		font-weight: 500;
	}
}

