@import '_colors';
@import '_responsive';
@import '_fonts';
@import '_text-levels';
@import '_styles';

* { box-sizing: border-box; }

html {
	background: @color-brand-gold;
	padding: 10px;
	font-size: 20px;
}

body {
	.text_p();
	background: @color-background-light-bg;
	color: @color-active-light-bg;
	.alt-bg { background: @color-alt-background-light-bg; }
}

svg {
	.light-bg & { fill: @color-active-light-bg; }
	.dark-bg & { fill: @color-active-dark-bg; }
}

.clear {
	clear: both;
}

.dark-bg {
	background: @color-background-dark-bg;
	color: @color-active-dark-bg;
	.alt-bg { background: @color-alt-background-dark-bg; }
	& > .text-underline { border-color: @color-active-dark-bg; }
	& > .box { background: @color-background-dark-bg; }
}

.light-bg {
	background: @color-background-light-bg;
	color: @color-active-light-bg;
	.alt-bg { background: @color-alt-background-light-bg; }
	& > .text-underline { border-color: @color-active-light-bg; }
	& > .box { background: @color-background-light-bg; }
}

h1, .h1 {
	.text_h1();
	.text-underline {
		border-bottom-width: .1rem;
		border-bottom-style: solid;
	}
	// XS
	@media screen and (max-width: @bkpt-xs-sm) { margin-bottom: @double-margin; }
	// SM
	@media screen and (min-width: @bkpt-xs-sm) { margin-bottom: @double-margin; }
	// MD
	@media screen and (min-width: @bkpt-sm-md) { margin-bottom: @triple-margin; }
}

h2, .h2 {
	.text_h2();
	// XS
	@media screen and (max-width: @bkpt-xs-sm) { margin-bottom: @single-margin; }
	// SM
	@media screen and (min-width: @bkpt-xs-sm) { margin-bottom: @single-margin; }
	// MD
	@media screen and (min-width: @bkpt-sm-md) { margin-bottom: @double-margin; }
	
	p {
		.light-bg & { color: @color-inactive-light-bg; }
		.dark-bg & { color: @color-inactive-dark-bg; }
	}
}

h3, .h3, .headline {
	.text_h3();
	// XS
	@media screen and (max-width: @bkpt-xs-sm) { margin-bottom: @single-margin; }
	// SM
	@media screen and (min-width: @bkpt-xs-sm) { margin-bottom: @single-margin; }
	// MD
	@media screen and (min-width: @bkpt-sm-md) { margin-bottom: @single-margin; }
}

h4, .h4 {
	.text_h4();
	// XS
	@media screen and (max-width: @bkpt-xs-sm) { margin-bottom: @single-margin; }
	// SM
	@media screen and (min-width: @bkpt-xs-sm) { margin-bottom: @single-margin; }
	// MD
	@media screen and (min-width: @bkpt-sm-md) { margin-bottom: @single-margin; }
}

p, .p { 
	.text_p();
	margin-bottom: @single-margin;
	&.right-justified { text-align: right }
	&.annotation {
		.light-bg & { color: @color-inactive-light-bg}
		.dark-bg & { color: @color-inactive-dark-bg}
	}
}

p strong, p.strong, .p strong, .p.strong,
strong p, .strong p, strong .p {
	.text_p_strong();
	margin-bottom: @single-margin;
}

.quarter-margin { 
	margin-bottom: @quarter-margin;
	display: block;
	width: 100%;
	height: 100%;
}

.half-margin { 
	margin-bottom: @half-margin;
	display: block;
	width: 100%;
	height: 100%;
}

.single-margin { 
	margin-bottom: @single-margin;
	display: block;
	width: 100%;
	height: 100%;
}

.double-margin { 
	margin-bottom: @double-margin;
	display: block;
	width: 100%;
	height: 100%;
}

.triple-margin { 
	margin-bottom: @triple-margin;
	display: block;
	width: 100%;
	height: 100%;
}

.quad-margin { 
	margin-bottom: @quad-margin;
	display: block;
	width: 100%;
	height: 100%;
}

a {
	color: inherit;
	&.link { color: @color-brand-gold; }
}

img {
	margin-bottom: @single-margin;
	max-width:100%;
	max-height:100%;
}

ul { 
   list-style-type: disc; 
   list-style-position: inside; 
   margin-bottom: @half-margin;
}

ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
   margin-bottom: @half-margin;
}

ul ul, ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
}

ol ol, ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
}

ul.fingerList {
	// XS
	@media screen and (max-width: @bkpt-xs-sm) { margin-left: @half-margin; }
	// SM
	@media screen and (min-width: @bkpt-xs-sm) { margin-left: @half-margin; }
	// MD
	@media screen and (min-width: @bkpt-sm-md) { margin-left: @half-margin; }
	li::before { content: '☞ '; }
}

li {
	display: block;
	margin-top: @half-margin;
	margin-bottom: @half-margin;
}

.pageLast {
	// XS
	@media screen and (max-width: @bkpt-xs-sm) { margin-bottom: @triple-margin; }
	// SM
	@media screen and (min-width: @bkpt-xs-sm) { margin-bottom: @quad-margin; }
	// MD
	@media screen and (min-width: @bkpt-sm-md) { margin-bottom: @quad-margin; }
}

.h2Last {
	// XS
	@media screen and (max-width: @bkpt-xs-sm) { margin-bottom: @double-margin; }
	// SM
	@media screen and (min-width: @bkpt-xs-sm) { margin-bottom: @triple-margin; }
	// MD
	@media screen and (min-width: @bkpt-sm-md) { margin-bottom: @triple-margin; }
}

.h3Last, .h4Last, .last {
	// XS
	@media screen and (max-width: @bkpt-xs-sm) { margin-bottom: @single-margin; }
	// SM
	@media screen and (min-width: @bkpt-xs-sm) { margin-bottom: @double-margin; }
	// MD
	@media screen and (min-width: @bkpt-sm-md) { margin-bottom: @double-margin; }
}

.noBottomMargin { margin-bottom: 0rem; }

blockquote {
	.text_quote();
	margin-bottom: @single-margin;
	padding: @half-margin;
	border-left: 2px solid @color-brand-blue;
	.author { margin: @half-margin 0rem; }
}

.box {
	
	border-radius: @border-radius-1;
	padding: .5rem;
	padding-bottom: 1rem;
	box-shadow: @shadow-neat;
	.light-bg & {
		border: @border-style-1-light-bg;
		background : @color-background-light-bg;
	}
	.dark-bg & {
		border: @border-style-1-dark-bg;
		background : @color-background-dark-bg;
	}
	&.no-shadow {
		box-shadow: none;
	}
}

.slide {
	.topBracket {
		display: block;
		width: 100%;
		height: 1px;
		visibility: hidden;
	}
}

.stat {
	display: block;
	width: 100%;
	p { margin: 0; }
	.text {
		display: block;
		float: left;
		width: 100%;
		p.number {
			margin-top: @minus-half-margin;
			.text_p_strong_big();
			color: @color-brand-gold;
		}
		p.label {
			.light-bg & { color: @color-active-light-bg; }
			.dark-bg & { color: @color-active-dark-bg; }
		}
		p.sublabel {
			.light-bg & { color: @color-inactive-light-bg; }
			.dark-bg & { color: @color-inactive-dark-bg; }
		}
	}
	&.big {
		.text {
			width: 100%;
			p.number { 
				.text_p_strong_mega();
				color: @color-brand-blue;
			}
		}
	}
	&-with-icon {
		display: block;
		width: 100%;
		p { margin: 0; }
		.icon {
			display: block;
			@media screen and (max-width: @bkpt-md-lg) {
				display: none;
			}
			float: left;
			width: 2rem;
			margin-right: .5rem;
			svg {
				width: 2rem;
				height: 2rem;
			}
		}
		.text {
			display: block;
			float: left;
			width: calc(~"100% - 2.5rem");
			@media screen and (max-width: @bkpt-md-lg) {
				width: 100%;
			}
			p.number {
				margin-top: @minus-half-margin;
				.text_p_strong_big();
				color: @color-brand-gold;
			}
			p.label {
				.light-bg & { color: @color-active-light-bg; }
				.dark-bg & { color: @color-active-dark-bg; }
			}
			p.sublabel {
				.light-bg & { color: @color-inactive-light-bg; }
				.dark-bg & { color: @color-inactive-dark-bg; }
			}
		}
		&.big {
			.icon {
				width: 3rem;
				svg {
					width: 3rem;
					height: 3rem;
				}
			}
			.text {
				width: calc(~"100% - 3.5rem");
				@media screen and (max-width: @bkpt-md-lg) {
					width: 100%;
				}
				p.number { 
					.text_p_strong_mega();
					color: @color-brand-blue;
				}
			}
		}
	}
}

.section-separator {
	display: block;
	width: 100%;
	height: .1rem;
	.light-bg & { background: @color-border-light-bg; }
	.dark-bg & { background: @color-border-dark-bg; }
	// XS
	@media screen and (max-width: @bkpt-xs-sm) { margin-bottom: @double-margin; }
	// SM
	@media screen and (min-width: @bkpt-xs-sm) { margin-bottom: @triple-margin; }
	// MD
	@media screen and (min-width: @bkpt-sm-md) { margin-bottom: @triple-margin; }
}

table {

	border-collapse: 	separate;
	border-radius: 		4px;
	border: 			2px solid @color-border-light-bg;
	margin-bottom: 		@single-margin;
	// width: 100%;

	thead { width: 100%; }

	tr, th, td { margin: 0; padding: 0 }
	th { vertical-align: middle; }
	th, td {
		text-align: 		left;
		padding: 			@single-margin;
		border-collapse: 	separate;
		border-right: 		2px solid @color-border-light-bg;
		border-bottom: 		2px solid @color-border-light-bg;
		&:last-child { border-right: none; }
	}

	tr:last-child { 
		td { border-bottom: none; }
	}
}